<div>
    <label for="login">Login</label>
    <input type="text" id="login" />
</div>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" />
</div>
<div>
    <button (click)="Login()">Login</button>
</div>